.xrcise-exercises-list {
  border-collapse: collapse;
  border-spacing: .5rem;
}

.xrcise-exercises-list__table-head {
  border-bottom: 2px solid #6678b1;
  color: #031F7D;
}

.xrcise-exercises-list__table-cell {
  border-right: 30px solid #fff;
  border-left: 30px solid #fff;
  padding: .625rem 2.5rem .25rem .5rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #BEEAFF;
}