.xricse-workout-sessions-form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.xrcise-workout-sessions-form__workout-set {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.xrcise-workout-sessions-form__exercise-select {
  max-width: 246px;
  min-width: 246px;
  margin-right: 8px;
}

.xrcise-workout-sets {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}


.xrcise-workout-set:nth-child(odd) {
  background-color: #8ddaff;
}

.xrcise-workout-set:nth-child(even) {
  background-color: #beeaff;
}

.xrcise-workout-sessions-form__row-buttons {
  display: flex;
  flex-direction: column;
}

.xrcise-workout-sets__buttons {
  display: flex;
  flex-direction: row;
}

.xrcise-workout-sets__button {
  width: 3rem;
}

.xrcise-workout-sessions-form__submit-button {
  white-space: nowrap;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#4f93ce,#285f8f);
  border: 1px solid #285f8f;
  width: 246px;
}

.xrcise-workout-sessions-form__submit-button--disabled {
  opacity: .6;
  cursor: not-allowed;
}

