.xricse-workout-sessions-form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.xrcise-workout-sessions-form__workout-set {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.xrcise-workout-sessions-form__exercise-select {
  width: 246px;
  margin-right: 8px;
}

.xrcise-workout-sets {
  display: flex;
  flex-direction: row;
}


.xrcise-workout-set:nth-child(odd) {
  background-color: #8ddaff;
}

.xrcise-workout-set:nth-child(even) {
  background-color: #beeaff;
}
